<div class="container text-center">
  <h2>Rep Range</h2>
  <div class="row no-gutters">
    <div class="col-4">
      <h1 class="rep-value" [ngStyle]="{'border-style': minSelected ? 'solid' : 'hidden'}">{{minRep}}</h1>
    </div>
    <div class="col">
      <h1 class="rep-dash">-</h1>
    </div>
    <div class="col-4">
      <h1 class="rep-value" [ngStyle]="{'border-style': maxSelected ? 'solid' : 'hidden'}">{{maxRep}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col" *ngIf="errorMessage || generatingMessage">
      <span class="error">{{errorMessage}}</span>
      <span>{{generatingMessage}}</span>
    </div>
    <div class="col" *ngIf="randomRep">
      <span class='generated-rep'>{{randomRep}}</span>
    </div>
  </div>
</div>