.rep-value {
    color: salmon;
    font-size: 10vw;
    border:2px solid salmon;
}

.rep-dash {
    color: salmon;
    font-size: 10vw;
    border-style: none
}

.error {
    color: red;
    font-size: 1.5em;
}

.generated-rep {
    border: 2px solid salmon;
    color: salmon;
    font-size: 10vw;
}