<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <img src="https://raw.githubusercontent.com/ELtrebolt/Rand-O-Rep/main/src/assets/muscle.svg" alt="muscle-logo" width="30" height="30">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/Rand-O-Rep/">Randomize your Gainz!</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Rand-O-Rep/faq">FAQs</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
<router-outlet></router-outlet>
