<div class="container-md text-center">
  <h1>Rand-O-Rep</h1>
  <div class="row">
    <div class="col-sm">
      <app-handtracker (onPrediction)="prediction($event)"></app-handtracker>
      <div [innerHTML]="gesture"></div> 
    </div>
    <div class="col-sm">
      <app-random-rep [gesture]="gesture"></app-random-rep>
    </div>
  </div>
  <div class="row">
    <div class = "col-sm te">
      <ul style="list-style:none; padding-left: 7.3em; padding-top: 1em; text-align: left;">
        <li><strong>Change Minimum</strong> --- <span style="color:salmon">Two Open Hands</span></li>
        <li><strong>Change Maximum</strong> --- <span style="color:salmon">Two Closed Hands</span></li>
        <li><strong>Increase Number</strong> --- <span style="color:salmon">Open Hand</span></li>
        <li><strong>Decrease Number</strong> --- <span style="color:salmon">Closed Hand</span></li>
        <li><strong>Confirm Number</strong> --- <span style="color:salmon">Hand Pointing</span></li>
        <li><strong>Generate Random Number</strong> --- <span style="color:salmon">One Open Hand, One Closed Hand</span></li>
        <li><strong>Generate Random Rest</strong> --- <span style="color:salmon">One Open Hand, One Pointing Hand</span></li>
      </ul>
    </div>
    <div class="col">
      <app-random-rest [gesture] = "gesture"></app-random-rest>
    </div>
  </div>
</div>
