<div class="container-md">
    <h1>Frequently Asked Questions</h1>
    <div class="accordion">
    <div class="accordion-item">
        <h2 class="accordion-header" id="h1">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#body1" aria-expanded="false" aria-controls="body1">
            <strong>What is the Rand-O-Rep used for?</strong>
        </button>
        </h2>
        <div id="body1" class="accordion-collapse collapse" aria-labelledby="h1">
        <div class="accordion-body">
            <strong>ATTENTION ALL GYM GOERS!</strong> 
            Do you struggle with deciding the number of sets / reps / weight to do for each exercise? 
            <br>
            Are you tired of choosing how to vary your own workouts? Or is your gym routine just too boring?
            <br>
            Would you prefer to let FATE decide the goal for your workout?
        </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="h2">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#body2" aria-expanded="false" aria-controls="body2">
            <strong>But how do I actually use the Rand-O-Rep?</strong>
        </button>
        </h2>
        <div id="body2" class="accordion-collapse collapse" aria-labelledby="h2">
        <div class="accordion-body">
            <strong>Rand-O-Rep</strong> is a random number generator where you can spice up your workouts by doing a random number of Reps (per set) along with a random amount of Rest time between sets. 
            <br>
            For example, right now you may decide that you want to do somewhere between 6 and 12 Bicep Curls. Using <strong>Rand-O-Rep</strong> you get a Magic Number of 8, and using <strong>Rand-O-Rest</strong> you get a Magic Number of 2 minutes! 
            Now’s the time where you pick your own weight (because you know you best :) and aim to do any number of sets (3-5 suggested) of 8 Bicep Curls with 2 minutes of rest.
            <br>
            The point is to make these decisions for you, so you can customize your workout around them (being the number of sets and the weight you’re using). Works for both you and your gym buddy!
            <br>
            <strong>BONUS Rand-O-Relay</strong>: Attempt to do the number of reps within that time frame!

        </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="h3">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#body3" aria-expanded="false" aria-controls="body3">
            <strong>How are you different from competitors?</strong>
        </button>
        </h2>
        <div id="body3" class="accordion-collapse collapse" aria-labelledby="h3">
        <div class="accordion-body">
            It’s hard to figure out an ideal strategy to get the most gains, and while paid apps and pre-set workout routines online can work for some people, more often than not they’re just templates for you to start from.
            <br>
            <strong>Rand-O-Rep</strong> isn’t just any random number generator. It’s a number generator built for growing more gains in the gym.
        </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="h4">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#body4" aria-expanded="false" aria-controls="body4">
            <strong>Is it free to use?</strong>
        </button>
        </h2>
        <div id="body4" class="accordion-collapse collapse" aria-labelledby="h4">
        <div class="accordion-body">
            <strong>Rand-O-Rep</strong> is 100% free to use! 
            Do note that we are in development on a paid premium feature for our most hardcore <strong>Rand-O-Reppers</strong>!
        </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="h5">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#body5" aria-expanded="false" aria-controls="body5">
            <strong>Who created the Rand-O-Rep?</strong>
        </button>
        </h2>
        <div id="body5" class="accordion-collapse collapse" aria-labelledby="h5">
        <div class="accordion-body">
            <strong>Rand-O-Rep</strong> is the brainchild of Ethan Lee and David Dao, 2 Computer Science gym-goers who enjoy making cool apps like this and chasing gnarly gains in the gym.
        </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="h6">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#body6" aria-expanded="false" aria-controls="body6">
            <strong>...But Why?</strong>
        </button>
        </h2>
        <div id="body6" class="accordion-collapse collapse" aria-labelledby="h6">
        <div class="accordion-body">
            Let’s be honest, figuring out a game plan for the gym can be daunting. More weight but less reps or more reps but less weight? When do you decide to switch? And how long are you REALLY supposed to rest in-between sets?
            <br>
            The likely answer: a mix of both! But how much of both? Ah, well, that answer depends on your preference. 
            <br>
            ---This answer is endorsed by Ethan because he has heard this repeatedly from gym bros and online YouTube videos---
            <br>
            Ok, well that makes sense. BUT WAIT – what if you DON’T have a preference and don’t know what to do?
            <br>
            Enter the <strong>Rand-O-Rep</strong>.
        </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="h7">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#body7" aria-expanded="false" aria-controls="body7">
            <strong>Should I even care about this if I don't go to the gym?</strong>
        </button>
        </h2>
        <div id="body7" class="accordion-collapse collapse" aria-labelledby="h7">
        <div class="accordion-body">
            The <strong>Rand-O-Rep</strong> is more than just for gym-goers – it is for anyone who wants to think a little less and have more fun in their life!
            <br>
            It likely can be scientifically suggested that a person’s tiredness is connected to the number of choices they make in a day.
            <br>
            Making more choices makes you more tired, while making less choices makes you less tired. This is why it is incredibly important to have a good routine and good habits – these are things you do everyday without having to think.
            <br>
            If you are someone who wants to be less tired throughout the day, and make confident choices that will have a positive effect on your life, then the <strong>Rand-O-Rep</strong> is here to help.
        </div>
        </div>
    </div>
    
    <div class="accordion-item">
        <h2 class="accordion-header" id="h8">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#body8" aria-expanded="false" aria-controls="body8">
            <strong>What are some alternative uses for the Rand-O-Rep?</strong>
        </button>
        </h2>
        <div id="body8" class="accordion-collapse collapse" aria-labelledby="h8">
        <div class="accordion-body">
            The <strong>Rand-O-Rep</strong> has a variety of uses by itself!
            <ul>
                <li>Pick a random number between 1 and 2 (flip a coin!)</li>
                <li>Pick a random number between 1 and 6 (roll a standard die!)</li>
                <li>Pick a random number betwen 1 and 20 (roll a DnD die!)</li>
                <li>Pick a random number between 1 and 26 (pick a Powerball number!)</li>
                <li>Pick a random number between 1 and 69 (pick a single Lottery number!)</li>
            </ul>
            The <strong>Rand-O-Repertoire</strong> can even be transformed!
            <ul>
                <li><strong>Rand-O-Read</strong> - Read X pages today and in Y minutes write down everything you learned!</li>
                <li><strong>Rand-O-Reach</strong> - Spend Y minutes in each of X unique stretching poses!</li>
                <li><strong>Rand-O-Relax</strong> - Do X sessions of "Me-Time" (TV episodes, video games) while remembering to take Y minutes in between to look away from the screen and stay hydrated!</li>
                <li><strong>Rand-O-Reflect</strong> - Spend Y minutes meditating then list out X things you are grateful for in life!</li>
            </ul>
        </div>
        </div>
    </div>

    </div>
</div>